<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport"
  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#006400">
  <title>Register to Topic</title>

  <link rel="icon" type="image/png" href="/assets/img/logo-icon.png" sizes="32x32">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/logo-icon.png">
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- Additional Scripts -->
  <script type="module" src="https://unpkg.com/ionicons%405.0.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons%405.0.0/dist/ionicons/ionicons.js"></script>
</head>

<body style="display: none;">

  <input type="hidden" value="<%= pin%>" id="pin" />

  <!-- loader -->
  <div id="loader" style="background-color: #006400">
    <img src="/assets/img/logo-icon.png" alt="icon" class="loading-icon">
  </div>
  <!-- * loader -->

  <!-- App Header -->
  <div class="appHeader bg-success text-light">
    <div class="left">
      <a href="#" class="headerButton goBack">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </a>
    </div>
    <div class="pageTitle">
      Register to Topic
    </div>
    <div class="right">
    </div>
  </div>
  <!-- * App Header -->

  <!-- App Capsule -->
  <div id="appCapsule">
    
    <!-- TOASTBOXES -->
    <div>
      <div id="toastWarningTop" class="toast-box toast-top bg-warning">
        <div class="in">
          <div class="text" id="toastWarningTextTop"></div>
        </div>
      </div>

      <div id="toastSuccessTop" class="toast-box toast-top bg-success">
        <div class="in">
          <div class="text" id="toastSuccessTextTop"></div>
        </div>
      </div>

      <div id="toastProcessing" class="toast-box toast-center">
        <div class="in">
          <div class="text">
            <div class="spinner-border text-light" role="status"></div>
            <br><br>
            <span id="toastProcessingText">Please wait...</span>
          </div>
        </div>
      </div>

      <div id="toastSuccess" class="toast-box toast-center bg-success tap-to-close">
        <div class="in">
          <div class="text" id="toastSuccessText"></div>
        </div>
        <button type="button" class="btn btn-sm btn-text-light close-button" onclick="resetForm()">OKAY</button>
      </div>

      <div id="toastError" class="toast-box toast-center bg-danger">
        <div class="in">
          <div class="text" id="toastErrorText"></div>
        </div>
        <button type="button" class="btn btn-sm btn-text-light close-button">OKAY</button>
      </div>
    </div>
    <!-- * TOASTBOXES -->

    <div class="section inset mt-2">
      <div class="wide-block pt-2 pb-2">
        <div class="form-group basic">
          <div class="input-wrapper">
            <input type="text" id="token" class="form-control" placeholder="Token">
          </div>
        </div>
        <div class="form-group basic">
          <div class="input-wrapper">
            <input type="text" id="topic" class="form-control" placeholder="Topic">
          </div>
        </div>
      </div>
    </div>

    <div class="section inset mt-2">
      <button class="btn btn-block btn-success rounded shadowed" id="sendBtn">Send</button>
    </div>

  </div>
  <!-- * App Capsule -->
  
  <script src="/__/firebase/9.2.0/firebase-app-compat.js"></script>
  <script src="/__/firebase/9.2.0/firebase-auth-compat.js"></script>
  <script src="/__/firebase/9.2.0/firebase-database-compat.js"></script>
  <script src="/__/firebase/init.js?useEmulator=true"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript">
    // VARIABLES
    var db = firebase.database();
    const toastSuccessText = document.getElementById('toastSuccessText');
    const toastErrorText = document.getElementById('toastErrorText');

    var mySn;

    window.addEventListener('load', () => {
      getAdmins().then(admins => {
        checkCredentials(admins, parseInt(document.getElementById('pin').value));
      });
    });

    // LISTENERS
    document.getElementById('sendBtn').addEventListener('click', async () => {
      if(allFieldsField()) {
        toastbox('toastProcessing');
        document.getElementById('sendBtn').disabled = true;
        await axios.post('/reg', {
          token: document.getElementById('token').value,
          topic: document.getElementById('topic').value
        }).then(response => {
          toastSuccessText.innerText = 'Token registered to topic';
          toastbox('toastSuccess');
        }).catch(err => {
          toastErrorText.innerText = err;
          toastbox('toastError');
          console.log(err);
        });
      } else {
        toastErrorText.innerText = 'You must fill-up all fields.';
        toastbox('toastError');
      }
    });
    
    // FUNCTIONS
    async function getAdmins() {
      let admins;
      await db.ref('Admins').once('value').then(snapshot => {
        admins = Object.values(snapshot.val());
      });
      return Promise.resolve(admins);
    }
    
    function checkCredentials(admins, pin) {
      document.body.style.display = 'none';
      mySn = window.prompt('Enter your Serial Number: ');
      if(admins.includes(parseInt(mySn))) {
        var myPin = window.prompt('Enter PX Pin: ');
        if(parseInt(myPin) == pin) {
          document.body.style.display = 'block';
        } else {
          var ansP = confirm('Wrong PIN!');
          ansP ? window.location = '/admin' : window.location = '/admin';
        }
      } else {
        var ansP = confirm('You are not allowed to view this page!');
        ansP ? window.location = '/admin' : window.location = '/admin';
      }
    }

    function allFieldsField() {
      if(document.getElementById('token').value == '' || document.getElementById('topic').value == '') {
        return false;
      } else {
        return true;
      }
    }

    function resetForm() {
      document.getElementById('token').value = '';
      document.getElementById('topic').value = '';
      document.getElementById('sendBtn').disabled = false;
    }
    
  </script>

  <!-- Jquery -->
  <script src="/assets/js/lib/jquery-3.4.1.min.js"></script>
  <!-- jQuery Circle Progress -->
  <script src="/assets/js/plugins/jquery-circle-progress/circle-progress.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
  <!-- Bootstrap-->
  <script src="/assets/js/lib/bootstrap.min.js"></script>
  <!-- Popper-->
  <script src="/assets/js/lib/popper.min.js"></script>
  <!-- Base Js File -->
  <script src="/assets/js/base.js"></script>

</body>
</html>